<link rel="stylesheet" href="css/buscador.css">
<form class="contenedor__buscador">
    <input type="text" class="buscador" id="buscador" placeholder="Escribe el lugar para buscar">
    <button id="btnBuscar">Buscar</button>
</form>
<script src="js/location.js"></script>